.first--section {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    height: 100vh;
}

.first--div {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: magenta;
    border-radius: 10px;
    border: 1px solid black;
    height: 20rem;
    width: 20rem;
}
.second--section {
    display: none;
    align-items: center;
    align-content: center;
    justify-content: center;
    height: 100vh;
}

.second--div {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: lightgreen;
    border-radius: 10px;
    border: 1px solid black;
    height: 20rem;
    width: 20rem;
}